<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RadioLiveActivityWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>StreamingAudioPlayer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B7D894D2DC018AE00E2AAAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7D895A2DC018B000E2AAAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7D89642DC018B000E2AAAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BBEFF222DC104BE004E2F5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BD9246E2DC23795005A8BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
